SMTP_USERNAME='foo'
SMTP_PASSWORD='foo_password'
SMTP_SENDER='foo@example.com'
SMTP_RECIPIENTS='bar@example.com; baz@example.com'
BAYWATCH_EMAIL_SUBJECT="The watched page has been modified!"
BAYWATCH_POLLING_PERIOD_IN_SEC=60
BAYWATCH_WATCHED_URL="http://www.example.com"
BAYWATCH_LOG_FILE="baywatch.log"
